#avatar
{
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 100px;
  margin-top: 5px;
  position: relative;
  float:right;
  
  background: #f8991c;
  border-radius: 50%;
  text-align: center;
  
  z-index: 1;
}


#initials {
  position: relative;
  top: 25%; /* 25% of parent */
  font-size: 20px; /* 50% of parent */
  line-height: 20px; /* 50% of parent */
  color: #fff;
}


#menuToggle
{
  display: block;
  position: relative;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

#menuBar
{
  display: block;
  position: absolute;
  width:100%;
  height:50px;
  background:#f9f8fd;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  
  animation: 0.6s ease-out 0s 1 slideInFromTop;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 6px;
  right: 97px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menu
{
  position: absolute;
  width: 150px;
  margin: 45px 0 0 -40px;
  padding: 15px;
  padding-top: 0px;
  right:100px;
  
  background: #ffffff;
  box-shadow: 0 0 10px #eef0f4;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  z-index: 1;
  transform-origin: 100% 0%;
  transform: translate(0, -200%);
  
  /*transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
}

ul li:not(.line):hover {background: #f8f9fc;}
ul li:not(.line):hover ul {display: block;}


#menu li:first-child {
  font-size: 16px;
  color: #a3adb8;
  margin-bottom: 10px;
} 

#menu li
{
  padding: 10px 0;
  font-size: 20px;
  padding-left: 15px;
}


.line{
  border-bottom-style: solid;
  border-width: 2px;
}


#menuToggle input:checked ~ ul
{
  transform: translateX(0);
}
