.messages {
	max-width:	350px;
	min-height:	50px;
	position:absolute;
	right: 10px;
    bottom:10px;
    color: #ffffff;
    opacity: 0.85;
}

.messageinfo{
	min-width:250px;
	margin-top:10px;
	display: flex;
	top:10px;
	border-radius: 10px;	
	animation-duration: 1s;
    animation-iteration-count: 1;	
}

.messageinfo:hover{
	transform: translate(-20%, 0); 
}	
.message-success {
	background: #77b676;
}

.message-error {
	background: #cc615a;
}

.message-warning {
	background: #faa045;
}

.msg-fadein {
 animation-name: msg-fadein;
 animation-timing-function: ease;
}

@keyframes msg-fadein {
	0%   { transform: translateX(100px); opacity: 0;}
	45%  { transform: translateX(-50px);opacity: 0.75;}
	100% { transform: translateX(0);}
}

.messagesign {
  position: relative;
  top: 10px; 
  width: 15%;
  padding-right: 25px;
}

.messageico {
  position: relative;
  top: 26%;
  left: 50%;
  font-size: 20px;
}

.messagetext{
  width: 75%;
  margin-top: -6px;
  font-size: 14px;
}

.infomessagetext{
 opacity: 0.95;
 text-align:justify ;
 margin-top: -15px;
}