body
{
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden;
}

#bell {
  float:right;
  width:50px;
  height:50px;
  font-size:13px;
  text-align: center;
}

.bellicon {
  position: relative;
  color: #cdcdcd;
  top: 13px; /* 25% of parent */
  font-size: 18px; /* 50% of parent */
  line-height: 25px; /* 50% of parent */
}

.bellicon:hover {
  color:#777;
  cursor:pointer;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -58px;
  margin-left: -100px;
  width: 200px;
}

.errormumber{
  font-size: 40px;
  margin-top: -10px;
  text-align: center;
}

.errormessagetitle{
  font-size: 16px;
  margin-top: -35px;
  text-align: center;
}

.errormessagetext{
  font-size: 10px;
  margin-top: -15px;
  text-align: center;
}

.faceeico {
  position: relative;
  margin-left:35%;
  font-size: 75px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bounce-2 {
 animation-name: bounce-2;
 animation-timing-function: ease;
}

@keyframes bounce-2 {
	0%   { transform: translateY(0);}
	50%  { transform: translateY(-40px);}
	100% { transform: translateY(0); }
}

#logo {
  height:40px;
  margin-top:5px;
  margin-left:100px;
}
